.needs {
    display: grid;
    grid-template-columns: max-content 38px max-content 256px;
    grid-gap: 16px 8px;
}

.need {
    display: grid;
    grid: inherit;
    grid-template-columns: subgrid;
    grid-gap: inherit;
    grid-column: span 4;
}

.need > strong {
    text-transform: capitalize;
}